@use "../../styles/all";
@use "../../styles/utils/media_queries";
@use "../../styles/utils/typography";

.Caption {
  @include typography.font-inter;
  font-size: typography.$font-size-small-xs;
  line-height: typography.$line-height-small-s;

  p {
    overflow: visible;
  }

  @include media_queries.media-breakpoint-tablet-m {
    font-size: typography.$font-size-small-s;
  }

  &--weight-medium {
    font-weight: typography.$font-weight-medium;
  }

  &--scheme-light {
    &.Caption--color {
      &-tertiary {
        color: var(--text-tertiary-light);
      }
    }

    &--scheme-dark {
      &.Caption--color {
        &-tertiary {
          color: var(--text-tertiary-dark);
        }
      }
    }
  }
}
