@use "../../styles/all";
@use "../../styles/utils/media_queries";
@use "../../styles/utils/typography";

.Text {
  @include typography.font-inter;

  &--weight-semi {
    font-weight: typography.$font-weight-semi-bold;
  }

  &--scheme-light {
    color: var(--text-secondary-light);
  }

  &--scheme-dark {
    color: var(--text-secondary-dark);
  }

  &--level-1 {
    font-size: typography.$text-1-font-size-mobile;
    line-height: typography.$text-1-line-height-mobile;

    @include media_queries.media-breakpoint-desktop {
      font-size: typography.$text-1-font-size-desktop;
      line-height: typography.$text-1-line-height-desktop;
    }
  }
}
