@import "../../styles/all";

.NewRow {
  display: grid;
  row-gap: calc(#{var(--mobileGridGap)} * 1px);
  grid-template-columns: var(--mobileGridSize);
  margin-left: calc(#{var(--mobileGridGap)} / 2 * -1px);
  width: calc(100% + #{var(--mobileGridGap)} * 1px);
  box-sizing: border-box;

  &.withoutPaddings {
    width: 100%;
    margin-left: 0;
  }

  @include media-breakpoint-tablet-s {
    row-gap: calc(#{var(--tabletSGridGap)} * 1px);
    grid-template-columns: var(--tabletSGridSize);
    margin-left: calc(#{var(--tabletSGridGap)} / 2 * -1px);
    width: calc(100% + #{var(--tabletSGridGap)} * 1px);
  }

  @include media-breakpoint-tablet-m {
    row-gap: calc(#{var(--tabletMGridGap)} * 1px);
    grid-template-columns: var(--tabletMGridSize);
    margin-left: calc(#{var(--tabletMGridGap)} / 2 * -1px);
    width: calc(100% + #{var(--tabletMGridGap)} * 1px);
  }

  @include media-breakpoint-desktop {
    row-gap: calc(#{var(--desktopGridGap)} * 1px);
    grid-template-columns: var(--desktopGridSize);
    margin-left: calc(#{var(--desktopGridGap)} / 2 * -1px);
    width: calc(100% + #{var(--desktopGridGap)} * 1px);
  }

  @include media-breakpoint-desktop-large {
    row-gap: calc(#{var(--desktopLargeGridGap)} * 1px);
    grid-template-columns: var(--desktopLargeGridSize);
    margin-left: calc(#{var(--desktopLargeGridGap)} / 2 * -1px);
    width: calc(100% + #{var(--desktopLargeGridGap)} * 1px);
  }


  &-m-left-triangle {

    @include media-breakpoint-tablet-s {
      grid-template-areas: 'first second'
                          'first third';

      .Col:first-child {
        grid-area: first;
        height: 100%;
      }

      .Col:nth-child(n + 2) {

        & > a {
          display: flex;
        }
      }
    }
  }
}
