.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 20px 24px;
  gap: 16px;
  border-radius: 10px;
  background-color: var(--background-content-light);
}

.text {
  color: #04060B;
}

[data-theme=dark] .text {
  color: #F3F3F6;
}

[data-theme=dark] .container {
  background-color: var(--background-content-dark);
}

.label {
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: flex-start;
    padding: 16px 27px;
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 6px;
}
