name: Sync Translations

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  sync-translations:
    name: Sync Translations for release-candidate-${{ matrix.lang }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        lang: [ru]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Crowdin CLI
        run: npm install -g @crowdin/cli

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit and push translations
        env:
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git stash --include-untracked
          git checkout -b l10n-release-candidate-${{ matrix.lang }}
          git pull --rebase origin l10n-release-candidate-${{ matrix.lang }} || true
          crowdin download --export-only-approved --branch main --config crowdin-oss.yml --language=${{ matrix.lang }}
          git add i18n/${{ matrix.lang }}
          git commit -m "chore: update ${{ matrix.lang }} translations"
          git push -u origin l10n-release-candidate-${{ matrix.lang }}
          gh pr create -B release-candidate-${{ matrix.lang }} -H l10n-release-candidate-${{ matrix.lang }} --title "chore: update `${{ matrix.lang }}` translations" --body 'This automated PR updates only the fully translated `${{ matrix.lang }}` files.'
